
@{
    ViewBag.Title = "Block";
}

<div class="container" ng-app="message" ng-controller="block">
    <div class="row">
        <div class="col-12 inputs">
            <input type="text" placeholder="Kullanıcı Adı" id="username"/>
            <input type="button" value="Blokla" id="block" />
            <input type="button" value="Blok Kaldır" id="unblock"/>
            <span class="response"></span>
        </div>
        <div class="col-12 block-list">
            <div class="block-item">
                Test
            </div>
            <div class="block-item">
                Test
            </div>
            <div class="block-item">
                Test
            </div>
            <div class="block-item">
                Test
            </div>
        </div>
    </div>
</div>


@section styles{
    <style>
        .block-list{
            text-align:center;
        }

        .inputs {
            padding: 10px;
            border: solid 1px #f5f5f5;
            text-align:center;
        }
    </style>
    
     }


@section scripts{
    <script>

        $(document).ready(function () {
            //localStorage.Token = "dfe5d4eb4e1d4be9908dda7007af44104df87481f9d04498a57d627206e0a4a6";
        });

    </script>

    <script>
        var app = angular.module("message", []);
        app.controller("chat", function ($scope, $http, $timeout) {

            $(document).ready(function () {
                getList();
            })

           
            function blockUser(otherUser) {
                var data = { "blocker": localStorage.username, "blocked": otherUser };
                var headers = { 'Token': localStorage.Token, "Content-Type": 'application/x-www-form-urlencoded;charset=utf-8;' };

                $http({
                    params: data,
                    url: "/api/Message/BlockUSer",
                    method: "POST",
                    headers: headers,
                }).then(function (response) {
                    $(".response").html(response.data.message);
                    $(".inputs input[type='text']").val("");
                }, function (response) {
                    console.log(response);
                });
            }
        });

    </script>

}