
@{
    ViewBag.Title = "Index";
}

<div class="container" ng-app="message" ng-controller="chat">
    <div class="user-info">

    </div>
    <div class="row holder">
        <div class="col-12"><h3>Mesajlar</h3></div>
        <div class="col-12" style="margin-bottom: 10px;">
            <label style="color: #dc3545; font-weight: bold; text-decoration: underline;">MESAJ GEÇMİŞİ</label>
            <input type="button" class="btn btn-secondary" ng-click="refresh()" value="Mesajları Yenile" />
        </div>
        <div class="col-3">
            <div class="row">
                
                <div class="col-lg-12 chat-item" ng-repeat="item in personList">
                    <a href="#" data-id="{{item.otherUser}}" class="person-selector" ng-click="getMessages(item.otherUser)">
                        {{item.otherUser}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9 chat-box">
            <div class="chat-message" ng-repeat="item in messageList">
                <span style="font-weight:bolder">{{item.sender}}</span><span>( {{item.date}} )</span> : <span>{{item.text}}</span>
            </div>
            <div class="chat-text">
                <input type="text" placeholder="kullanıcı adı" class="form-control" id="otherUsername" ng-model="otherUser"/>
                <input type="text" placeholder="Yazın" id="sendMessage" class="form-control" ng-model="msg"/>
                <input type="button" value="Gönder"  id="send" class="btn btn-info" ng-click="sendMessage(otherUser,msg)"/>
            </div>
            <div class="sendMessage-response">
                <span>

                </span>
            </div>
        </div>

    </div>

    <div class="row holder">
        <div class="col-12"><h3>Blok İşlemleri</h3></div>
        <div class="col-12 inputs">
            <input type="text" placeholder="Kullanıcı Adı" id="username" class="form-control" ng-model="blockedUser" />
            <input type="button" value="Blokla" id="block" class="btn btn-info" ng-click="block(blockedUser)"/>
            <input type="button" value="Blok Kaldır" id="unblock" class="btn btn-info" ng-click="unblock(blockedUser)"/>
            <span class="response"></span>
        </div>
    </div>

    <div class="row holder">
        <div class="col-12"><h3>Giriş/Üyelik</h3></div>
        <div class="col-12 col-md-6 login-holder">
            <h6>Giriş</h6>
            <input type="text" placeholder="Kullanıcı Adınız" class="form-control" ng-model="loginUsername" />
            <input type="password" placeholder="Parola" class="form-control" ng-model="loginPassword" />
            <input type="submit" value="Giriş Yap" class="btn btn-info" ng-click="login(loginUsername, loginPassword)" />
            <span class="login-response"></span>
        </div>

        <div class="col-12 col-md-6 register-holder">
            <h6>Üye Ol</h6>
            <input type="text" placeholder="Kullanıcı Adınız" class="form-control" ng-model="registerUsername" />
            <input type="password" placeholder="Parola" class="form-control" ng-model="registerPassword" />
            <input type="password" placeholder="Parola" class="form-control" ng-model="registerConfirmPassword" />
            <input type="submit" value="Üye Ol" class="btn btn-info" ng-click="register(registerUsername, registerPassword,registerConfirmPassword)" />
            <span class="register-response"></span>
        </div>
    </div>
</div>

@section styles{
<link href="~/Content/custom.css" rel="stylesheet" />
}


@section scripts{
<script src="~/Content/myModule.js"></script>

    <script>

        $(document).ready(function () {
            var user = localStorage.username;
            if (user != null) {
                $(".user-info").html("Hoşgeldin, " + user);
                $(".user-info").append('<input type="button" class="btn btn-danger" ng-click="logout()" value="Çıkış" />');
            }
            else {
                $(".user-info").html("Lütfen Giriş Yapın!");
                $("input[type='button']").attr("disabled", "disabled");
            }
        });
        
        $("a").click(function (e) {
            if ($(this).attr("href") == "#")
                e.preventDefault();
        });


    </script>

   

}